#products {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .product {
    background-color: lightblue;
    padding: .25rem;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
  
    & img {
      width: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  
    & .info {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
  
      & button {
        width: 50px;
      }
    }
  }
  
  #product-page {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
  
    & > img {
      width: 100%;
    }
  }