*, *::before, *::after {
    box-sizing: border-box;
}

* {
    font-family: sans-serif;
}

body, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button, input {
    padding: .5rem;
    border-radius: .5rem;
}

button {
    cursor: pointer;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav {
  & ul {
    display: flex;
    gap: 1rem;
    padding: 0;
  }
}

#categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  & img {
    width: 100%;
  }
}

#featured-products {

}

#featured-products_images{
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  & img {
    width: 100%;
  }
}